@import "tooltipster.scss";//Tooltipster's default css

// .tooltip {
//   background-color: $gray-700;
//   border-radius: 5px;
//   color: $white;
//   position: absolute;
//   display: block;
//   padding: 0.5rem;
// }

.tooltipster-default {
  @extend %shadow-100;
  border: none;
  max-width: 310px;
  padding: 0; // custom
  // border-radius: 10px;

  .tooltipster-content {
    font-family: $font-family-body;
    font-weight: $font-weight-semibold;
    font-size: 0.9rem;
    line-height: 1.1rem;

    p { // custom
      @extend .tooltipster-content;
      color: $white;
      padding: 0;
      margin: 0;
    }
  }
}